<div class="container mat-elevation-z8">
  <mat-table [dataSource]="products">
    <!-- Position Column -->
    <ng-container matColumnDef="id" sticky>
      <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.id }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Nome </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.name }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="quantity">
      <mat-header-cell *matHeaderCellDef> Quantidade </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.quantity }} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="edit">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let element">
        <mat-icon (click)="getProduct(element.id)" class="pointer"
          >edit</mat-icon
        >
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="delete" aria-setsize="2">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let element">
        <mat-icon (click)="deleteProduct(element.id)" class="pointer"
          >delete</mat-icon
        >
      </mat-cell>
    </ng-container>

    <mat-header-row
      *matHeaderRowDef="displayedColumns; sticky: true"
    ></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>
</div>

<button mat-fab (click)="addProduct()" color="primary" class="button-fab">
  <mat-icon aria-label="Adicione um produto">add</mat-icon>
</button>
